@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Fell;
        font-weight: 600;
        src: url(../font/fell.ttf) format("truetype");
    }
    @font-face {
        font-family: Duerer Gotisch;
        font-weight: 600;
        src: url(../font/duerergotisch.ttf) format("truetype");
    }
    @font-face {
        font-family: Gregorian;
        font-weight: 600;
        src: url(../font/gregorian.ttf) format("truetype");
    }
    @font-face {
        font-family: Old London;
        font-weight: 600;
        src: url(../font/OldLondon.otf) format("opentype") ;
    }
    @font-face {
        font-family: Papyrus;
        font-weight: 600;
        src: url(../font/Papyrus.ttf) format("truetype");
    }
    @font-face {
        font-family: Ruritania;
        font-weight: 600;
        src: url(../font/Ruritania.ttf) format("truetype");
    }

    input[type='range']::-webkit-slider-runnable-track{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border:1px solid black;
        height:6px;
    }
    
    input[type='range']::-webkit-slider-thumb{
        background-color: black;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 8px;
        height: 18px;
        top:-7px;
        position: relative;
    }
    input#image-darkness{
        direction:rtl;
    }

}
@layer components {
    .btn-blue {
        @apply py-2 px-4 bg-gray-800 text-white font-semibold rounded-none shadow hover:bg-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
    }
    .btn-dark {
        @apply border border-black w-52 h-10 py-2 px-4 my-2 font-semibold rounded-none shadow-md focus:outline-none focus:ring-0 focus:ring-opacity-75;
    }
}
@layer utilities {
    .filter-grayscale{
        filter: grayscale(100%);
    }
}